.three_scene_container {
    transition: all .5s .5s;

    max-width: 100%;
    width: 100vw;
    height: 100vh;
    position: relative;
    opacity: 0;
    transform: translateY(50px);

    &.on {
        opacity: 1;
        transform: translateY(0px);

    }
}

.info{
    font-size: 12px;
    position: absolute;
    bottom: 16px;
    left: 0;
    font-size: Inter;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.backdrop {
    transition: all .5s;
    width: 400px;
    height: 400px;
    opacity: 0;
    border-radius: 20px;
    background: #8A898E;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 41px 5px rgba(0,0,0,0.45);
    border: solid black 10px;

    &.on {
        width: 600px;
        height: 600px;
        opacity: 1;
    }
}